@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  /*** COLORS ***/
  --white: #fff;

  --black-01: #242424;

  --gray-01: #F5F6F9;
  --gray-02: #7D8290;
  --gray-03: #3D70B2;
  --gray-04: #C4C4C4;
  --gray-05: #AEB4C2;
  --gray-06: #C7CCD7;

  --blue-01: #3D70B2;

  --green-01: #6EBC63;


  --color-primary: var(--green-01);


  --color-bg-01: var(--gray-01);


  --color-text-primary: var(--black-01);
  --color-text-secondary: var(--gray-02);
  --color-text-placeholder: var(--gray-03);
  --color-button-primary: var(--white);


  /*** TYPOGRAPHY ***/
  --font-primary: 'Open Sans', sans-serif;
}

/** TEXT **/
.text-14-normal {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.text-14-semi-bold {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

.text-14-bold {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.text-16-normal {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
