<template>
  <div class="hello">
    <SearchForm />
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import SearchForm from '@/components/SearchForm.vue';

@Options({
  components: {
    SearchForm
  },
})
export default class HelloWorld extends Vue {}
</script>

<style scoped>
.hello {
  max-width: 890px;
  margin: 100px auto 0;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
