<template>
  <span
    class="remove-icon"
  />
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'RemoveIcon'
});
</script>

<style scoped>
.remove-icon {
  position: relative;
  display: inline-block;
  width: 18px;
  min-width: 18px;
  height: 18px;
  background-color: var(--gray-05);
  border-radius: 50%;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 2px;
    height: 12px;
    position: absolute;
    left: 8px;
    bottom: 3px;
    background-color: var(--white);
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
</style>
