<template>
  <span
    class="search-icon"
  />
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'SearchIcon'
});
</script>

<style scoped>
.search-icon {
  position: relative;
  display: inline-block;
  width: 14px;
  min-width: 14px;
  height: 14px;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
  }

  &:before {
    width: 2px;
    height: 6px;
    right: 2px;
    bottom: 0;
    background-color: var(--gray-04);
    transform: rotate(-45deg);
  }

  &:after {
    border-radius: 50%;
    border: 2px solid var(--gray-04);
    width: 8px;
    height: 8px;
    top: 0;
    left: 0;
  }
}
</style>
