<template>
  <form
    class="search-form"
    @submit.prevent="onSubmit"
  >
    <SearchIcon class="search-form__icon" />
    <input
      v-model="searchQuery"
      class="search-form__input text-16-normal"
      type="text"
      placeholder="|Поиск книг, авторов"
      @focus="onFocusInput"
      @blur="onBlurInput"
    />
    <RemoveIcon
      v-if="searchQuery"
      class="search-form__icon search-form__icon_remove"
      @click="clearSearchQuery"
    />
    <button
      class="search-form__button"
      type="submit"
    >Найти</button>
    <div
      v-if="isSuggestsVisible && suggests.length"
      class="search-form__dropdown"
    >
      <ul class="search-form__suggests">
        <li
          v-for="(item, index) in suggests"
          v-html="toHtml(item.title)"
          :key="`suggest-${index}`"
          class="search-form__suggest text-14-normal"
          @click="onSuggestChoose(item.title)"
        />
      </ul>
    </div>
  </form>
</template>

<script lang="ts">
import { defineComponent, ref, watchEffect } from 'vue';
import axios, { AxiosError } from 'axios';
import SearchIcon from '@/components/SearchIcon.vue';
import RemoveIcon from '@/components/RemoveIcon.vue';
import useDebouncedRef from '@/utils/useDebouncedRef';

const api = axios.create({
  baseURL: 'https://tmpwpm.book24.ru'
});

api.defaults.headers.common['X-TOKEN'] = '78c155b2a29b02e2209261a2ddb547db';

interface Suggest {
  link: string;
  meta: string[];
  title: string;
}

export default defineComponent({
  name: 'SearchForm',
  components: { SearchIcon, RemoveIcon },
  setup() {
    const suggests = ref<Suggest[]>([]);
    const searchQuery = useDebouncedRef('', 400, true);
    const isSuggestsVisible = ref(false);

    const getSuggests = async (limit: number) => {
      if (!searchQuery.value) {
        return;
      }
      try {
        const { data } = await api.get(`/api/v1/catalog/search/suggests/?q=${searchQuery.value}&limit_suggest=${limit}`);
        suggests.value = data['DATA'];
      } catch (error) {
        console.error((error as AxiosError).response?.data);
      }
    };

    const toHtml = (value: string) => {
      if (!value.includes(searchQuery.value)) {
        return value;
      }
      return value.split(searchQuery.value).join(`<span class="text-14-bold">${searchQuery.value}</span>`);
    };

    const onFocusInput = () => {
      getSuggests(4);
      isSuggestsVisible.value = true;
    };

    const onBlurInput = () => {
      setTimeout(() => {
        isSuggestsVisible.value = false;
      }, 200);
    };

    const onSuggestChoose = (item: string) => {
      searchQuery.value = item;
    };

    const clearSearchQuery = () => {
      searchQuery.value = '';
    };

    const onSubmit = async () => {
      //
    };

    watchEffect(() => (getSuggests(5)));

    return {
      searchQuery,
      isSuggestsVisible,
      suggests,

      getSuggests,
      clearSearchQuery,
      toHtml,

      onFocusInput,
      onBlurInput,
      onSubmit,
      onSuggestChoose
    };
  }
});
</script>

<style scoped>
.search-form {
  position: relative;
  border: 2px solid var(--blue-01);
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 40px;

  &__input {
    flex-grow: 1;
    border: 0 none;
    width: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    outline: 0 none;
  }

  &__icon {
    margin: 0 12px 0 12px;

    &_remove {
      cursor: pointer;
    }
  }

  &__button {
    background: var(--color-primary);
    border-radius: 0 2px 2px 0;
    color: white;
    border: 0 none;
    height: 40px;
    white-space: nowrap;
    outline: 0 none;
    padding: 0 38px;
    margin: 0;
    cursor: pointer;
  }

  &__dropdown {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    border: 1px solid var(--gray-06);
    border-radius: 0 0 4px 4px;
    margin: 2px -2px 0;
  }

  &__suggests {
    list-style: none;
    margin: 4px 0;
    padding: 0;
  }

  &__suggest {
    padding: 4px 16px;
    cursor: pointer;
  }
}
</style>
